.custom-btn {
    padding: 10px 10px;  /* Adjust padding to your preference */
    font-size: 16px;     /* Make sure font sizes are consistent */
    height: 35px;        /* Set a consistent height */
    border: none; /* Menghapus border default */
    color: #fff !important;
    display: inline-flex;
    align-items: center; /* Ensure icon and text are centered */
    cursor: pointer; /* Mengubah kursor menjadi pointer saat hover */
    transition: background-color 0.3s; /* Efek transisi pada perubahan warna latar belakang */
}


