.sistem-card {
    width: 150px; 
    height: 150px;
    background-color: #007bff; /* Warna background card */
    color: #fff; /* Warna teks */
    border-radius: 8px; /* Sudut melengkung */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sistem-card:hover {
    transform: translateY(-5px); /* Gerakan naik saat hover */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Bayangan lebih besar saat hover */
}

