.square-card {
    width: 100%; /* Lebar mengikuti kolom */
    padding-bottom: 100%; /* Tinggi diatur berdasarkan lebar untuk membuat persegi */
    position: relative; /* Membuat elemen di dalamnya menjadi relatif */
    transform: translateY(-5px); /* Efek hover untuk mengangkat kartu */
}

.square-card .card-body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Menjaga konten berada di tengah kartu */
}

.custom-spacing {
    margin-right: 40px; /* Sesuaikan nilai sesuai kebutuhan */
    margin-left: 40px;
}

.custom-shadow {
    box-shadow: 10px 15px 8px rgba(0, 0, 0, 0.2), 10px 15px 20px rgba(0, 0, 0, 0.19);
}
