.sistem-card {
    width: 150px; 
    height: 150px;
    background-color: #439AC7; /* Warna background card */
    color: #fff; /* Warna teks */
    border-radius: 8px; /* Sudut melengkung */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sistem-card:hover {
    transform: translateY(-5px); /* Gerakan naik saat hover */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Bayangan lebih besar saat hover */
}

/* Responsif untuk sistem PKL buttons */
@media (max-width: 767.98px) {
    .sistem-card {
        font-size: 12px; /* Mengurangi ukuran font di tombol */
        padding: 8px;
    }
}

@media (max-width: 576px) {
    .sistem-card {
        width: 100px; /* Perkecil lebar */
        height: 100px; /* Sesuaikan tinggi */
        font-size: 10px; /* Kurangi ukuran font */
        padding: 5px;
    }
}


