.footer {
    background-color: #439AC7;
    color: white;
    padding-top: 30px;
    margin-top: auto;
}
.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer .footer-description {
    max-width: 50%;
}
.footer .footer-contact {
    max-width: 30%;
}
.footer .social-icons a {
    color: white;
    margin-right: 10px;
    font-size: 20px;
}
.footer-bottom {
    background-color: #4088ac;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}

@media (max-width: 576px) {
    .footer {
        font-size: 12px; /* Sesuaikan ukuran font */
    }

    .footer-bottom {
        font-size: 12px;
    }
}
