.footer {
    background-color: #0275d8;
    color: white;
    padding-top: 30px;
    margin-top: 20px;
}
.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer .footer-description {
    max-width: 50%;
}
.footer .footer-contact {
    max-width: 30%;
}
.footer .social-icons a {
    color: white;
    margin-right: 10px;
    font-size: 20px;
}
.footer-bottom {
    background-color: #025aa5;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}
