.body-formmandiri {
    background: linear-gradient(to bottom, #439AC7, #adbfc7);
    /* background-color: #f6f6f6; */
    background-size: cover;
}

.navbar {
    padding: 0.5rem 1rem;
}

.navbar-brand img {
    height: 40px;
}

.form-container {
    background: rgba(255, 255, 255, 0.374); /* Semi-transparent white */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Optional shadow for depth */
    width: 70%;
    max-width: 80%;
    margin-bottom: 8%;
}

.form-label, 
.form-control {
    display: block; /* Pastikan elemen tampil dalam satu kolom */
    width: 100%;    /* Pastikan elemen mengambil lebar penuh */
    box-sizing: border-box; /* Hitung padding dan border sebagai bagian dari ukuran elemen */
}

.form-control {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #1b262c;
    color: white;
    border: 1px solid #3282b8;
    border-radius: 5px;
}

.form-control::placeholder {
    color: #cfd8dc;
    
}

.form-label {
    color: #fff !important;
    width: 100%;
    height: 100%;

    position: relative;
}

.custom-file-upload {
    position: relative;
    width: 100%;
    padding: 10px;
    border: 2px dashed #3282b8;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.custom-file-upload input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.custom-file-upload .file-upload-text {
    color: #ffffff;
}

.button-container {
    display: flex;           /* Menggunakan Flexbox */
    justify-content: center; /* Memusatkan secara horizontal */
    align-items: center;     /* Memusatkan secara vertikal */
    height: 100vh;           /* Tinggi kontainer sebesar tinggi viewport */
}

.btn-submit {
    background-color: #ffffff; /* Warna latar belakang putih */
    border: 1px solid #ffffff; /* Border putih; ubah jika ingin border yang berbeda */
    color:#ffffff; /* Ubah teks menjadi hitam atau warna yang diinginkan */
    display: inline-block; /* Membuat tombol hanya sebesar konten */
    padding: 10px 20px; /* Padding yang lebih proporsional untuk tombol */
    border-radius: 5px; /* Membuat sudut tombol membulat */
    margin: 0 auto; /* Mengatur margin otomatis untuk membuat tombol berada di tengah secara horizontal */
    width: auto; /* Memastikan tombol hanya sebesar konten */
    /* justify-content: center; */
     text-align: center; /*Pusatkan teks di dalam tombol */
}

/* .btn-submit:hover {
    background-color:#3282b8;
} */

.kembali {
    margin-left: 100px;
}

@media (max-width: 576px) {
    .kembali {
        margin-left: 30px;
    }

    .form-container {
        width: 80%;
    }
}