.header-siswa {
    background-color: #0275d8;
    color: #fff !important;
    padding: 0 0;
    
}

.header-siswa .contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
}
.header-siswa .contact-info a {
    color: white;
    margin-left: 10px;
}
.header-siswa .navbar {
    background-color: white;
    color: black;
    padding: 10px 70px;
}
.header-siswa .navbar a {
    color: black;
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
}
.header-siswa .navbar a:hover {
    color: #0275d8;
}

.navbar-nav .nav-link {
    color: black !important; /* Warna teks default hitam */
    border-radius: 5px; /* Memberikan sedikit radius untuk tampilan yang lebih baik */
}

.navbar-nav .nav-link:hover {
    text-decoration: white;
    color: #0275d8 !important; /* Warna teks saat hover */
    padding: 5px 10px; /* Padding untuk membuat efek hover lebih terasa */
}

/* .img-profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
} */

img.rounded-circle {
    padding: 0;
    margin: 0;
    border-radius: 50%;  
    object-fit: cover;
}

.modal-content {
    text-align: left; /* Pastikan teks rata kiri di dalam modal */
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
}

.form-control, .form-label {
    text-align: left; /* Pastikan label dan input form rata kiri */
}

.modal-body {
    padding: 1.5rem; /* Pastikan ada padding di dalam modal */
}


