.header-admin {
    background-color: #439AC7;
    color: #ffffff !important;
    padding: 0 0;
}
.header-admin .contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
}
.header-admin .contact-info a {
    color: #ffffff;
    margin-left: 10px;
}
.header-admin .navbar {
    background-color: #ffffff;
    color: black;
    padding: 10px 70px;
}
.header-admin .navbar a {
    color: black;
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
}
.header-admin .navbar a:hover {
    color: #0275d8;
}
.navbar-nav .nav-link {
    color: black !important; /* Warna teks default hitam */
    border-radius: 5px; /* Memberikan sedikit radius untuk tampilan yang lebih baik */
}

.navbar-nav .nav-link:hover {
    text-decoration: #ffffff;
    color: #0275d8 !important; /* Warna teks saat hover */
    padding: 5px 10px; /* Padding untuk membuat efek hover lebih terasa */
}

.scrollable-container {
    max-height: 500px; /* Adjust the height as needed */
    overflow-y: scroll; /* Enable vertical scrolling */
    /* border: 1px solid black;  */
    padding: 10px;
}

.logout-link {
    background-color: #dc3545;
    color: white !important; /* Warna teks default */
    padding: 7px 7px; /* Padding untuk ruang di sekitar teks */
    text-decoration: none; /* Menghilangkan garis bawah */
    border-radius: 5px; /* Memberikan radius sudut */
    transition: background-color 0.3s, color 0.3s; /* Efek transisi untuk halus */
}

