.logo-container {
    overflow-x: hidden;
}

.logo-scroll {
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.logo-scroll::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
