.custom-sidebar {
    margin: 70px 40px;
    /* padding: 15px; */
    /* background-color: #f8f9fa; */
    /* border-radius: 8px; */
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.custom-sidebar .nav-link {
    color: #000;
    background-color: #fff;
    /* border: 1px solid #dee2e6;
    border-radius: 0; */
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    padding: 10px;
}

.custom-sidebar .nav-link:hover {
    background-color: #e9ecef;
}

.custom-sidebar .nav-link.active {
    /* background: linear-gradient(to right, #0275d8, #000); */
    background-color: #439AC7 !important;
    color: #fff;
    border: none;
}

.nav-link i {
    margin-right: 10px; /* Atur jarak antara ikon dan teks */
}

.nav-link.active {
    background-color: #439AC7; /* Warna background untuk link yang aktif */
    color: white;              /* Warna teks untuk link yang aktif */
}

.nav-link:hover {
    background-color: #439AC7; /* Warna saat hover */
    color: white;
}
