/* CSS untuk tabel dengan sudut melengkung */
.table {
    border-radius: 8px; /* Sudut melengkung pada tabel */
    overflow: hidden; /* Menyembunyikan bagian luar dari sudut melengkung */
}

.table thead {
    border-top-left-radius: 8px; /* Sudut melengkung di kiri atas header tabel */
    border-top-right-radius: 8px; /* Sudut melengkung di kanan atas header tabel */
}

.table tfoot  {
    border-bottom-left-radius: 8px; /* Sudut melengkung di kiri bawah footer tabel */
}

.table tfoot {
    border-bottom-right-radius: 8px; /* Sudut melengkung di kanan bawah footer tabel */
}

/* Gaya header tabel */
.table thead td, .table thead th {
    border-bottom-width: 2px;
    background-color: #0275d8;
    color: white;
}

/* Gaya baris tabel ganjil dan genap */
.table-striped tbody tr:nth-child(odd) {
    background-color: #f2f2f2 !important; /* Warna latar belakang untuk baris ganjil */
}

.table-striped tbody tr:nth-child(even) {
    background-color: #C5D7E0 !important; /* Warna latar belakang untuk baris genap */
}

/* CSS untuk memusatkan teks di header dan sel tabel kecuali kolom Evaluasi */
.table thead th, .table tbody td {
    text-align: center; /* Memusatkan teks di kolom tabel */
}

/* CSS khusus untuk kolom Evaluasi agar rata kiri */
.table .left-align {
    text-align: left; /* Rata kiri untuk kolom Evaluasi */
}

/* CSS untuk tfoot */
.table tfoot td {
    background-color: #0275d8 !important; /* Warna latar belakang untuk tfoot */
    color: white !important;
    font-weight: bold; /* Membuat teks pada tfoot lebih tebal */
    text-align: center; /* Memusatkan teks di dalam sel tfoot */
    border-top: 1px solid #0275d8; /* Menambahkan garis atas pada tfoot */
}


.pagination-btn {
    background-color: #0275d8;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.pagination-btn:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.pagination-number {
    padding: 10px;
    border: 1px solid #0275d8;
    border-radius: 5px;
    cursor: pointer;
}
